.img-thumbnail {
    width: 350px;
    height: 350px;
    float: left;
    margin-right: 10px;
}

.container {
    padding-top: 8%;
    padding-bottom: 50%;
}

#portimage {
    width: 200px;
    height: 200px;
    margin: 20px;
}

footer {
    width: 100%;
    height: 50px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: burlywood;
    color: black;
}

.wrapper {
    opacity: 85%;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-image: url("https://b.kisscc0.com/20180517/lyw/kisscc0-web-development-web-design-web-developer-search-en-computer-5afd949b0c3854.0298527315265680910501.jpg")
}

p {
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}