body {
    background-color: royalblue;
}

.img-thumbnail {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 10px;
}

.container {
    padding-top: 8%;
    padding-bottom: 50%;
}

h1 {
    background-color: royalblue;
}

h5 {
    text-align: center;
}

#portimage {
    width: 200px;
    height: 200px;
    margin: 20px;
}